<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>
<div>
  <%# <%= cl_image_tag "opd9uiiatrwqp3lkz99q", crop: :fill, width: 400, height: 300 %>
</div>
<div>
  <%# <%= cl_image_tag "lwyw0r2mn06ibgqwx4vq", :transformation=>[
  {:aspect_ratio=>"1.0", :gravity=>"face", :width=>0.6, :zoom=>0.7, :crop=>"thumb"},
  {:radius=>"max"},
  {:color=>"brown", :effect=>"outline"},
  {:color=>"lightgray", :effect=>"shadow", :x=>25, :y=>35}
  ] %>
</div>

<%= link_to "New article", new_article_path %>
